In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('food_250.csv', usecols=['name', 'ingredients'])
df.tail()

          name                                        ingredients
250  Til Pitha            Glutinous rice, black sesame seeds, gur
251    Bebinca  Coconut milk, egg yolks, clarified butter, all...
252     Shufta  Cottage cheese, dry dates, dried rose petals, ...
253  Mawa Bati  Milk powder, dry fruits, arrowroot powder, all...
254     Pinaca  Brown rice, fennel seeds, grated coconut, blac...

In [ ]:
items = set()
for x in df.ingredients:
    for val in x.split(', '):
        items.add(val.lower().strip())
    # break

In [ ]:
len(items)

In [ ]:
items

In [ ]:
useless = ['axone', 'yogurt', 'wine vinegar', 'whole red', 'whole wheat flour', 'watercress', 'vermicelli pudding',
           'vegetable oil', 'tomato', 'tomato paste', 'thick poha', ]
useful = ['mushrooms', 'vermicelli', 'poha', ]

In [ ]:
items

In [ ]:
'''
250 x 366

name potato tomato almonsd
halwa 0         0       1



q = [sugar, cheese, bread] (365, )
= [0, 0, 0, 1, 0, 0, 1, 0, 1]


remove = { teaspoon, teaspoons, to, taste }
'''

In [ ]:
import pandas as pd
import numpy as np

raw = pd.read_excel('/content/IndianFoodDatasetXLS_6000.xlsx')
df = raw.copy()

columns_to_drop = ['RecipeName', 'Ingredients', 'URL', 'PrepTimeInMins' , 'CookTimeInMins', 'Course',
                   'TotalTimeInMins','TranslatedInstructions', 'Instructions', 'Servings', 'Srno', 'Diet']

df = df.drop(columns = columns_to_drop).dropna()

# data seems to contain more than just indian cuisines, so I drop these
cuisines_to_drop = ['Mexican', 'Italian Recipes', 'Thai', 'Chinese', 'Asian', 'Middle Eastern', 'European',
                   'Arab', 'Japanese', 'Vietnamese', 'British', 'Greek', 'French', 'Mediterranean', 'Sri Lankan',
                   'Indonesian', 'African', 'Korean', 'American', 'Carribbean', 'World Breakfast', 'Malaysian', 'Dessert',
                   'Afghan', 'Snack', 'Jewish', 'Brunch', 'Lunch', 'Continental', 'Fusion']

# need to drop desserts and breakfasts, as these are much less likely to contain spices
# courses_to_drop = ['South Indian Breakfast', 'Snack', 'Appetizer', 'Indian Breakfast', 'Dessert', 'North Indian Breakfast',
                #   'World Breakfast', 'Brunch', 'Side Dish']

df = df[~df['Cuisine'].isin(cuisines_to_drop)]
# df = df[~df['Course'].isin(courses_to_drop)]
df.shape

In [ ]:
df.head()

In [ ]:
# df = df['TranslatedIngredients']

def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

#create boolean mask
mask = df.loc[:, 'TranslatedIngredients'].apply(isEnglish)
df = df[mask].dropna().reset_index(drop=True)

df.shape #I see we dropped about 350 entries.

In [ ]:
df.head()

In [ ]:
ing_df = df.copy()

In [ ]:
for i, row in ing_df.iterrows():
    name, ing, _ = row
    
    print(ing)
    ing_df.iloc[i, 1] = clean_ingredients(ing)
    break

In [ ]:
def clean_ingredients(s):
    items = ing.split(', ')
    filt_items = []
    for words in items:
        filt_word = ''
        for letter in word:
            if letter.isalpha() or letter.isspace():
                filt_word

    return 'Hello'

In [ ]:
import re

pattern = r'^[a-zA-Z\s-]+$'

print(re.match(pattern, 'Karela Bitter Gourd Pavakkai - deseeded'))