In [54]:
import numpy as np
import pandas as pd

from sklearn.metrics.pairwise import cosine_similarity

In [29]:
df = pd.read_csv('food_250.csv', usecols=['name', 'ingredients'])
df.head()

             name                                        ingredients
0      Balu shahi                    Maida flour, yogurt, oil, sugar
1          Boondi                            Gram flour, ghee, sugar
2  Gajar ka halwa       Carrots, milk, sugar, ghee, cashews, raisins
3          Ghevar  Flour, ghee, kewra, milk, clarified butter, su...
4     Gulab jamun  Milk powder, plain flour, baking powder, ghee,...

In [34]:
items = set()
for x in df.ingredients:
    for val in x.split(', '):
        items.add(val.lower().strip())
    # break
items = sorted(items)

In [52]:
LEN_ITEMS = len(items)
LEN_RECIPES = df.shape[0]

LEN_RECIPES

255

In [97]:
new_df = pd.DataFrame(data=np.zeros((LEN_RECIPES, LEN_ITEMS + 2), dtype=int), columns=['name', 'ingredients'] + list(items))

In [98]:
for i, d in df.iterrows():
    new_df.loc[i, 'name'] = d[0]
    new_df.loc[i, 'ingredients'] = d[1]
    
    for val in d[1].split(', '):
        item = val.lower().strip()
        new_df.loc[i, item] = 1

In [99]:
new_df.head()

,name,ingredients,all purpose flour,almond,almonds,aloo,alum powder,amaranth leaves,amchur powder,apricots,...,whole urad dal,whole wheat bread,whole wheat flour,whole wheat rava,wild mushrooms,wine vinegar,yellow moong daal,yellow mustard,yoghurt,yogurt
0,Balu shahi,"Maida flour, yogurt, oil, sugar",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Boondi,"Gram flour, ghee, sugar",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
new_df.tail()

,name,all purpose flour,almond,almonds,aloo,alum powder,amaranth leaves,amchur powder,apricots,arbi ke patte,...,whole urad dal,whole wheat bread,whole wheat flour,whole wheat rava,wild mushrooms,wine vinegar,yellow moong daal,yellow mustard,yoghurt,yogurt
250,Til Pitha,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
251,Bebinca,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,Shufta,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,Mawa Bati,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254,Pinaca,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
query = ['bread crumbs', 'paneer']

In [53]:
def embed_query(q, it):
    embedding = np.zeros((LEN_ITEMS,), dtype=int)
    it = np.array(items)
    
    for q in query:
        idx = np.where(q == it)
        embedding[idx] = 1

    return embedding

# embed_query(query, items)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [64]:
emb_qy = embed_query(query, items)
sim = cosine_similarity(new_df.iloc[:, 1:].values.reshape(LEN_RECIPES, -1), emb_qy.reshape(1, -1)).ravel()

In [83]:
idx_sorted = np.argsort(sim)[::-1]
# print(idx_sorted)
# print(sim[idx_sorted])

for val, idx in np.column_stack((sim[idx_sorted], idx_sorted)):
#     print(val, idx)
    if val > 0:
        print(new_df.iloc[int(idx), 0])

Kofta
Aloo tikki
Paneer butter masala
Paneer tikka masala

In [93]:
df.loc[df['name'] == 'Rasam', 'ingredients'].values

array(['Tomato, curry leaves, garlic, mustard seeds, hot water'],
      dtype=object)

In [ ]:
.useless = ['axone', 'yogurt', 'wine vinegar', 'whole red', 'whole wheat flour', 'watercress', 'vermicelli pudding',
           'vegetable oil', 'tomato', 'tomato paste', 'thick poha', ]
useful = ['mushrooms', 'vermicelli', 'poha', ]

In [ ]:
items

In [ ]:
'''
250 x 366

name potato tomato almonsd
halwa 0         0       1



q = [sugar, cheese, bread] (365, )
= [0, 0, 0, 1, 0, 0, 1, 0, 1]


remove = { teaspoon, teaspoons, to, taste }
'''

In [ ]:
import pandas as pd
import numpy as np

raw = pd.read_excel('/content/IndianFoodDatasetXLS_6000.xlsx')
df = raw.copy()

columns_to_drop = ['RecipeName', 'Ingredients', 'URL', 'PrepTimeInMins' , 'CookTimeInMins', 'Course',
                   'TotalTimeInMins','TranslatedInstructions', 'Instructions', 'Servings', 'Srno', 'Diet']

df = df.drop(columns = columns_to_drop).dropna()

# data seems to contain more than just indian cuisines, so I drop these
cuisines_to_drop = ['Mexican', 'Italian Recipes', 'Thai', 'Chinese', 'Asian', 'Middle Eastern', 'European',
                   'Arab', 'Japanese', 'Vietnamese', 'British', 'Greek', 'French', 'Mediterranean', 'Sri Lankan',
                   'Indonesian', 'African', 'Korean', 'American', 'Carribbean', 'World Breakfast', 'Malaysian', 'Dessert',
                   'Afghan', 'Snack', 'Jewish', 'Brunch', 'Lunch', 'Continental', 'Fusion']

# need to drop desserts and breakfasts, as these are much less likely to contain spices
# courses_to_drop = ['South Indian Breakfast', 'Snack', 'Appetizer', 'Indian Breakfast', 'Dessert', 'North Indian Breakfast',
                #   'World Breakfast', 'Brunch', 'Side Dish']

df = df[~df['Cuisine'].isin(cuisines_to_drop)]
# df = df[~df['Course'].isin(courses_to_drop)]
df.shape

In [ ]:
df.head()

In [ ]:
# df = df['TranslatedIngredients']

def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

#create boolean mask
mask = df.loc[:, 'TranslatedIngredients'].apply(isEnglish)
df = df[mask].dropna().reset_index(drop=True)

df.shape #I see we dropped about 350 entries.

In [ ]:
df.head()

In [ ]:
ing_df = df.copy()

In [ ]:
for i, row in ing_df.iterrows():
    name, ing, _ = row
    
    print(ing)
    ing_df.iloc[i, 1] = clean_ingredients(ing)
    break

In [ ]:
def clean_ingredients(s):
    items = ing.split(', ')
    filt_items = []
    for words in items:
        filt_word = ''
        for letter in word:
            if letter.isalpha() or letter.isspace():
                filt_word

    return 'Hello'

In [ ]:
import re

pattern = r'^[a-zA-Z\s-]+$'

print(re.match(pattern, 'Karela Bitter Gourd Pavakkai - deseeded'))