In [1]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('food_250.csv', usecols=['name', 'ingredients'])
df.head()

             name                                        ingredients
0      Balu shahi                    Maida flour, yogurt, oil, sugar
1          Boondi                            Gram flour, ghee, sugar
2  Gajar ka halwa       Carrots, milk, sugar, ghee, cashews, raisins
3          Ghevar  Flour, ghee, kewra, milk, clarified butter, su...
4     Gulab jamun  Milk powder, plain flour, baking powder, ghee,...

In [4]:
items = set()
for x in df.ingredients:
    for val in x.split(', '):
        items.add(val.lower().strip())
    # break

In [5]:
len(items)

365

In [13]:
new_df = pd.DataFrame(data=np.zeros((255, 366), dtype=int), columns=['name'] + list(items))

In [14]:
new_df.head()

,name,flour,amaranth leaves,yellow mustard,bread crumbs,lentils,citric acid,elephant foot yam,water,fresh green peas,...,kasuri methi,almonds,paneer,glutinous rice,spinach,fresh green chilli,chicken thighs,dinner rolls,pearl millet flour,chillies
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
for i, d in df.iterrows():
    new_df.loc[i, 'name'] = d[0]
    
    for val in d[1].split(', '):
        item = val.lower().strip()
        new_df.loc[i, item] = 1

In [32]:
new_df.tail()

,name,flour,amaranth leaves,yellow mustard,bread crumbs,lentils,citric acid,elephant foot yam,water,fresh green peas,...,kasuri methi,almonds,paneer,glutinous rice,spinach,fresh green chilli,chicken thighs,dinner rolls,pearl millet flour,chillies
250,Til Pitha,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
251,Bebinca,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,Shufta,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,Mawa Bati,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254,Pinaca,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
useless = ['axone', 'yogurt', 'wine vinegar', 'whole red', 'whole wheat flour', 'watercress', 'vermicelli pudding',
           'vegetable oil', 'tomato', 'tomato paste', 'thick poha', ]
useful = ['mushrooms', 'vermicelli', 'poha', ]

In [ ]:
items

In [ ]:
'''
250 x 366

name potato tomato almonsd
halwa 0         0       1



q = [sugar, cheese, bread] (365, )
= [0, 0, 0, 1, 0, 0, 1, 0, 1]


remove = { teaspoon, teaspoons, to, taste }
'''

In [ ]:
import pandas as pd
import numpy as np

raw = pd.read_excel('/content/IndianFoodDatasetXLS_6000.xlsx')
df = raw.copy()

columns_to_drop = ['RecipeName', 'Ingredients', 'URL', 'PrepTimeInMins' , 'CookTimeInMins', 'Course',
                   'TotalTimeInMins','TranslatedInstructions', 'Instructions', 'Servings', 'Srno', 'Diet']

df = df.drop(columns = columns_to_drop).dropna()

# data seems to contain more than just indian cuisines, so I drop these
cuisines_to_drop = ['Mexican', 'Italian Recipes', 'Thai', 'Chinese', 'Asian', 'Middle Eastern', 'European',
                   'Arab', 'Japanese', 'Vietnamese', 'British', 'Greek', 'French', 'Mediterranean', 'Sri Lankan',
                   'Indonesian', 'African', 'Korean', 'American', 'Carribbean', 'World Breakfast', 'Malaysian', 'Dessert',
                   'Afghan', 'Snack', 'Jewish', 'Brunch', 'Lunch', 'Continental', 'Fusion']

# need to drop desserts and breakfasts, as these are much less likely to contain spices
# courses_to_drop = ['South Indian Breakfast', 'Snack', 'Appetizer', 'Indian Breakfast', 'Dessert', 'North Indian Breakfast',
                #   'World Breakfast', 'Brunch', 'Side Dish']

df = df[~df['Cuisine'].isin(cuisines_to_drop)]
# df = df[~df['Course'].isin(courses_to_drop)]
df.shape

In [ ]:
df.head()

In [ ]:
# df = df['TranslatedIngredients']

def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

#create boolean mask
mask = df.loc[:, 'TranslatedIngredients'].apply(isEnglish)
df = df[mask].dropna().reset_index(drop=True)

df.shape #I see we dropped about 350 entries.

In [ ]:
df.head()

In [ ]:
ing_df = df.copy()

In [ ]:
for i, row in ing_df.iterrows():
    name, ing, _ = row
    
    print(ing)
    ing_df.iloc[i, 1] = clean_ingredients(ing)
    break

In [ ]:
def clean_ingredients(s):
    items = ing.split(', ')
    filt_items = []
    for words in items:
        filt_word = ''
        for letter in word:
            if letter.isalpha() or letter.isspace():
                filt_word

    return 'Hello'

In [ ]:
import re

pattern = r'^[a-zA-Z\s-]+$'

print(re.match(pattern, 'Karela Bitter Gourd Pavakkai - deseeded'))